<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="o1" class="havis.test.suite.Step">
	</bean>
	<bean id="o2" class="havis.test.suite.Step">
	</bean>
	<bean id="common.sleep" class="havis.test.suite.Sleep">
	</bean>
</beans>




